@using ClockNest.Components.Pages.CommonPages
@using ClockNest.Models.User_Model
@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthStateProvider
@inject UserContext UserContext

<div class="layout-wrapper">

    <!-- LEFT SIDEBAR -->
    <Spinner />
    <NavMenu />

    <!-- RIGHT PAGE CONTENT -->
    <div class="main">
        <div class="content-body">
            @Body
        </div>
    </div>
</div>

<style>
    .layout-wrapper {
        display: flex; 
        height: 100vh;
        width: 100%;
    }

    .main {
        flex: 1; 
        overflow-y: auto;
        background: #f7f9fc;
    }

    .content-body {
        padding: 20px;
    }
</style>

@code{
    protected override async Task OnInitializedAsync()
    {
        UserContext.UserId =
            (await UserContextService.GetUserIdAsync(AuthStateProvider)).ToString();

        // UserContext.CompanyId =
        //     await UserContextService.GetCompanyIdAsync(AuthStateProvider);
    }
}