@* @page "/dashboard"
 *@@using Microsoft.AspNetCore.Authorization
@* @using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider *@


<h3>Dashboard</h3>
@attribute [Authorize]
<AuthorizeView>
    <Authorized>
        Welcome <a class="" style="color:blue;">@context.User.Identity.Name</a>
    </Authorized>
    <NotAuthorized>
       Not Authorized
    </NotAuthorized>
</AuthorizeView>


@code {

    // protected override async Task OnInitializedAsync()
    // {
    //     var authState = await AuthStateProvider.GetAuthenticationStateAsync();
    //     var user = authState.User;

    //     // if (user.Identity.IsAuthenticated)
    //     // {
    //     //     Console.WriteLine("✔ User is authenticated");
    //     //     Console.WriteLine("Username: " + user.Identity.Name);
    //     // }
    //     // else
    //     // {
    //     //     Console.WriteLine("❌ User is NOT authenticated");
    //     }
    // }
}
